<main id="main" class="main">

    <section>
        <div class="container my-5">
            <h4 class="mb-4">Reply on message</h4>

            {{!-- <a href="/admin/cancel-all-orders" onclick="return confirm('Are You Sure to Cancel All Orders ?')"
                class="btn btn-danger mb-2">Cancel All Orders</a> --}}

            <form action="/admin/add-reply" method="post">
                <label>Select User</label>
                <select class="form-select" name="user" aria-label="Default select example">
                    <option selected>Select User</option>
                    {{#each feedbacks}}
                    <option value="{{this.userId}}">{{this.username}}</option>
                    {{/each}}
                </select>
                <label class="mt-3">Reply Message</label>
                <textarea type="text" name="reply" class="form-control"></textarea>
                <button class="btn btn-dark mt-3" type="submit">Send Message</button>
            </form>

        </div>
    </section>

</main>