<div class="container">

    <!-- Outer Row -->
    <br><br><br><br>
    <center>
        <div class="card w-50 o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->

                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Admin Panel</h1>
                    </div>
                    {{#if signInErr}}
                    <p class="text-danger">{{signInErr}}</p>
                    {{/if}}

                    <form class="user" action="/admin/signin" method="POST">
                        <div class="form-group">
                            <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                                name="Email" aria-describedby="emailHelp" placeholder="Enter Email Address...">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control form-control-user" id="exampleInputPassword"
                                name="Password" placeholder="Password">
                        </div>

                        <button type="submit" class="btn btn-primary btn-user btn-block">
                            Login
                        </button>
                        <hr>

                    </form>
                    <hr>

                </div>

            </div>
        </div>
    </center>
</div>