<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

        <a href="/" class="logo d-flex align-items-center me-auto">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="assets/img/logo.png" alt=""> -->
            <h1 class="sitename">Tutor-Hub</h1>
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a href="#hero" class="active">Home<br></a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="/chat">chat</a></li>

                <li><a href="#contact">Contact</a></li>

                {{#if user}}
                <li class="dropdown"><a href="#"><span>{{user.Fname}} </span> <i
                            class="bi bi-chevron-down toggle-dropdown"></i></a>
                    <ul>
                        <li>
                            <a href="/profile">
                                <div class="d-flex gap-2"><i class="bi bi-person mt-1"></i>My Profile</div>
                            </a>
                        </li>
                        <li>
                            <a href="/cart">
                                <div class="d-flex gap-2"><i class="bi bi-person mt-1"></i> My Cart</div>
                            </a>
                        </li>
                        <li>
                            <a href="/orders">
                                <div class="d-flex gap-2"><i class="bi bi-person mt-1"></i>My Courses</div>
                            </a>
                        </li>
                        <li>
                            <a href="/signout">
                                <div class="d-flex gap-2"><i class="bi bi-box-arrow-right mt-1"></i>Signout</div>
                            </a>
                        </li>

                    </ul>
                </li>
                {{else}}
                <li class="dropdown"><a href="#"><span>Signin/Signup</span> <i
                            class="bi bi-chevron-down toggle-dropdown"></i></a>
                    <ul>
                        <li>
                            <a href="/signin">
                                <div class="d-flex gap-2"><i class="bi bi-person-circle mt-1"></i>Student</div>
                            </a>
                        </li>
                        <li>
                            <a href="/tutor/signin">
                                <div class="d-flex gap-2"><i class="bi bi-people mt-1"></i>Tutor</div>
                            </a>
                        </li>
                        {{!-- <li>
                            <a href="/company/signin">
                                <div class="d-flex gap-2"><i class="bi bi-buildings-fill mt-1"></i>Company</div>
                            </a>
                        </li> --}}
                    </ul>
                </li>
                {{/if}}
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>


    </div>
</header>
<style>
    .float {
        position: fixed;
        width: 120px;
        height: 50px;
        bottom: 20px;
        right: 40px;
        background-color: #254bd3;
        color: #FFF;
        border-radius: 7px;
        text-align: center;
        font-size: 15px;
        z-index: 100;
    }

    .float:hover {
        background-color: black;
    }

    .my-float {
        margin-top: 16px;
    }

    .textt {
        font-size: 14px;
        margin-top: 15px;
        color: white;
    }
</style>
<a href="/cart" class="float">
    <h4 class="textt">Course Added</h4>
</a>