<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-family: Arial, sans-serif;
        background-color: #f8f9fa;
    }
</style>

<div class="middle-content">
    <div class="container">
        <h1 class="mb-3">Please Wait For The Approval!</h1>
        <p>Your account request has been sent to the admin.<br> You will be able to access your dashboard once it is
            approved.
        </p>

        <a href="/tutor/signout" class="btn btn-dark mb-2">Back to signin</a>
        <br><br>
        <p class="text-danger">Once the admin approved your request then<br> you can enter to the dashboard through
            login
        </p>


    </div>
</div>